/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.gap-sm {
  gap: 5px;
}

.gap-md {
  gap: 10px;
}

.gap-lg {
  gap: 15px;
}